.dsgvo-text {
  text-align: left;
  margin-top: 80px;
}

h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

h1 {
  margin-top: 100px;
}

li {
  /* display: none; */
}
